<% include ejs/_header %>
<div class="container">
</div>
<div class="classe">
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
    </ul>
</div>

<% include ejs/_footer %>
